/* ------------ google font ---------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/* -------- big title ------- */
h1 {
  font-size: 65px;
  text-align: center;
  font-size: 65px;
  color: #fff;
}

/* --------- section header ------------- */
h2{
  font-size: 45px;
  font-weight: 700;
}
/* -------- content ----------- */
p{
  font-size: 18px;
}
/* --------- linking ------ */
a{
  color: #fff;
  text-decoration: none;
  background: tomato;
  border-radius: 5px;
  margin-top: 20px;
  padding: 18px 20px;
}

[target="_blank"] {
  width: 160px;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.overly {
  position: absolute;
  width: 100%;
  height: 669px;
  background-image: linear-gradient(to top, rgb(0 0 0 / 87%), rgb(20 0 0 / 13%));
}

header {
  height: 669px;
  background-image: url("../images/banner.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 669px;
}

.header-content {
  width: 826px;
  height: 320px;
  margin: 0 auto;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.header-content p {
  color: #fff;
  text-align: center;
  margin: 20px 0 40px;
  padding: 0 59px;
}


section.donation {
  width: 826px;
  text-align: center;
  margin: 0 auto;
}

.donation-content-area {
  padding: 0 100px;
}

.donation-header {
  padding: 100px 0 30px;
}

.donation-content {
  line-height: 28px;
  color: rgba(112, 112, 112, 1);
}

.donation-amount {
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
  margin-top: 25px;
}

.amount1,
.amount2,
.amount3,
.amount4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 123px;
  background: #FAFAFA;
  border-radius: 5px;
  margin: 20px 5px 10px;
  color: #707070;
}

.amount2 {
  border: 2px solid #FF5959;
  background: #FFEEEE;
  color: #FF5959;
}

.other-amount {
  margin-top: 80px;
}

.other-amount {
  color: #B3B3B3;
  margin-bottom: 13px;
}

.diver {
  border: 1px solid #DADADA;
  margin-top: 3px;
}

.box-area {
  display: flex;
  justify-content: space-between;
}

.box {
  background-color: rgba(79, 157, 166, 0.1);
  width: 360px;
  height: 352px;
  margin: 0 5px;
  text-align: left;
}

.shelter-box {
  background-color: rgba(255, 89, 89, 0.1);
}

.education {
  background-color: #FFF4D6;
}

/* -------- footer style here ----------- */
footer {
  background-color: #0B0D17;
  text-align: center;
}

footer .footer-title {
  padding: 45px 0 30px;
  color: #FF5959;
}

footer .footer-content {
  color: #D9DBE1;
  padding-bottom: 45px;
}
