/* ------------ google font ---------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family:'Inter', sans-serif ;
}
.overly{
    position: absolute;
    width: 100%;
    height: 669px;
    background-image:linear-gradient(to top, rgb(0 0 0 / 87%), rgb(20 0 0 / 13%));
}
header{
    height: 669px;
    background-image: url("../images/banner.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 669px;
}
.header-contant{
    opacity: 1;
    width: 826px;
    height: 320px;
    margin: 0 auto;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .header-contant h2{
    opacity: 1 !important;
    text-align: center;
    font-size: 65px;
    color: #fff;
  }
  .header-contant p{
    color: #fff;
    /* font-size: 18px; */
    text-align: center;
    margin: 20px 0 40px;
    padding: 0 59px;
  }
  [target="_blank"]{
    width: 160px;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 18px 20px;
    background: tomato;
    border-radius: 5px;
  }
  section.donation {
    width: 826px;
    text-align: center;
    margin: 0 auto;
  }
  .donation-content-area{
    padding: 0 100px;
  }
.donation-header{
     padding: 100px 0 30px;
     font-size: 45px;
     font-weight: 700;
}
.donation-content{
    line-height: 28px;
    color:rgba(112, 112, 112, 1);
    /* font-size: 18px; */
}
.donation-amount{
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
  margin-top: 25px;
}
.amount1, .amount2, .amount3, .amount4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
    margin: 20px 5px 10px;
    color: #707070;
}
.amount2{
    border: 2px solid #FF5959;
    background: #FFEEEE;
    color: #FF5959;
}
.other-amount{
    margin-top: 80px;
}
.other-amount{
  color: #B3B3B3;
  margin-bottom: 13px;
}
.diver{
    border: 1px solid #DADADA;
    margin-top: 3px;
}
.box-area{
  display: flex;
  justify-content:space-between;
}
.box{
  background-color: rgba(79, 157, 166, 0.1);
  width: 360px;
  height: 352px;
  margin: 0 5px;
  text-align: left;
}
.shelter-box{
  background-color: rgba(255, 89, 89, 0.1);
}
.education{
  background-color: #FFF4D6;
}






.padd{
    margin-bottom: 500px;
}